<div class="detail-container">
  <div *ngIf="person; else empty">
    <div class="card-container" 
         (mouseenter)="rotateCard()" 
         (mouseleave)="resetCard()">
      
      <div class="card" [class.rotated]="isRotated">

        <div class="front">
          <div class="card-content">
            <div class="avatar-section">
              <div class="image-circle">
                <img 
                 [src]="'assets/img/' + person.path" 
                 >
              </div>
            </div>
            
            <h2 class="name">{{ person.firstName }} {{ person.name }}</h2>
            <p class="job">{{ person.job }}</p>
            
            <div class="age-section">
              <span class="age">{{ person.age }} </span>
            </div>
            
            <div class="auto-rotation">
              <i class="fas fa-sync-alt"></i>
              <span> Auto Rotation</span>
            </div>
          </div>
        </div>

        <div class="back">
          <div class="card-content">
            <div class="avatar-section">
              <div class="image-circle">
                <img 
                [src]="'assets/img/' + person.path" 
                >
              </div>
            </div>
            
            <h3 class="back-title"></h3>
            
            <div class="details-list">
              <div class="detail-item">
                <strong>Full Name:</strong>
                <span>{{ person.firstName }} {{ person.name }}</span>
              </div>
              
              <div class="detail-item">
                <strong>Age:</strong>
                <span>{{ person.age }}</span>
              </div>
              
              <div class="detail-item">
                <strong>Job:</strong>
                <span>{{ person.job }}</span>
              </div>
              
              <div class="detail-item">
                <strong>CIN:</strong>
                <span>{{ person.cin }}</span>
              </div>
              
              <div class="detail-item">
                <strong>ID:</strong>
                <span>{{ person.id }}</span>
              </div>
            </div>
            
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #empty>
    
  </ng-template>
</div>